<div class="row">
  <div class="col-sm-6">
    <h1>Containers</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= button_to containers_path, class: 'btn btn-primary' do %>
    Spawn Container
  <% end %>
  </div>
</div>

<div class="table-responsive" style="font-size: 0.8rem">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Exercise</th>
        <th>User</th>
        <th>Token</th>
        <th>Docker ID</th>
        <th>Image</th>
        <th>Status</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      <% @containers.each do |container| %>
        <%= content_tag :tr, id: dom_id(container), class: dom_class(container) do %>
          <td><%= link_to container.name, container %></td>
          <td style="white-space: nowrap;"><%= link_to(container.exercise.name, container.exercise) if container.exercise %></td>
          <td><%= container.user.username %></td>
          <td style="white-space: nowrap;"><%= container.token %></td>
          <td><%= container.docker_id %></td>
          <td><%= container.image %></td>
          <td><%= container.status %></td>
          <td class="display: inline-block;">
            <div class="btn-group">
              <%= button_to start_container_path(container), class: "btn btn-success btn-sm" do %>
                Start
              <% end %>

              <%= button_to stop_container_path(container), class: "btn btn-warning btn-sm" do %>
                Stop
              <% end %>

              <%= button_to container_path(container), method: :delete, class: "btn btn-danger btn-sm" do %>
                Remove
              <% end %>
            </div>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= button_to destroy_all_containers_path, class: 'btn btn-danger' do %>
    Destroy All
  <% end %>
