<%= javascript_include_tag 'exercises' %>

<%= form_with(model: [exercise, iteration], url: exercise_iterations_path(exercise), id: "exercise-form") do |form| %>
  <% if iteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iteration.errors.count, "error") %> prohibited this iteration from being saved:</h2>

      <ul>
      <% iteration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-5 ps-0 pe-4 mb-3">
        <%= form.text_area :code, class: 'form-control', style: 'height: 100%;' %>
      </div>
      <div class="col-md-7 ps-4">
        <pre><code><%= @exercise.tests %></pre></code>
      </div>
    </div>
  </div>

  <%= form.hidden_field :container_token, id: "container_token", value: @container.token %>
<% end %>

<div class="row">
  <div class="col-9 px-0 pt-2">
    <div class="alert alert-primary mb-2" role="alert">
      Use <code>Ctrl + Enter</code> to run tests.
    </div>
  </div>
  <div class="col-3 p-2">
    <div class="btn-group" style="width: 100%;">
      <input onclick="runTests();" type="button" value="Run" class="btn btn-lg btn-primary"/>
      <button type="submit" form="exercise-form" class="btn btn-lg btn-success">Save</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col p-0">
    <ul class="list-group" id="test-results"></ul>
  </div>
</div>
