<%= form_with(model: [exercise, iteration], url: exercise_iterations_path(exercise)) do |form| %>
  <% if iteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iteration.errors.count, "error") %> prohibited this iteration from being saved:</h2>

      <ul>
      <% iteration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-5 ps-0 pe-4 mb-3">
        <%= form.text_area :code, class: 'form-control', style: 'height: 100%;' %>
      </div>
      <div class="col-md-7 ps-4">
        <pre><code><%= @exercise.tests %></pre></code>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <% if iteration.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', iteration, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if iteration.persisted? %>
      <%= link_to "Cancel", iteration, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", exercise, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
